*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f0f2f5;
    font-family: 'Montserrat', sans-serif;
}

.leftbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 196px;
    height: 950px;
    background-color:#f0f2f5;
    padding: 24px;
}

.leftbar .navigation .ul {
    margin-top: 20px;
}

.leftbar .navigation ul li {
    list-style-type: none;

    padding: 10px 0px;
}

.leftbar .navigation ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.leftbar .navigation ul li a:hover,
.leftbar .navigation ul li a:hover,
.leftbar .navigation ul li a:hover{
    color:black;
}

.navigation2 ul li{
    list-style-type: none;
    
}
.navigation2 ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}
.navigation2 ul li a img {
    width: 70px;
    height: 50px;
    border-radius: 40%;
} 